header {
  display: flex;
  justify-content: space-around;
}

header img {
  width: 180px;
}

aside.debug {
  border: 5px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  background-color: black;
  box-shadow: 5px 5px #888888;
  position: absolute;
  left: 1vh;
  bottom: 1.4vh;
}

aside img {
  width: 200px;
}

aside.debug p {
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.vr {
  max-width: 25vh;
  min-width: 25vh;
  width: 25vh;
  height: 5vh;
  position: absolute;
  top: -7vh;
  border-radius: 5px;
  background-color: #543489;
  border: 2px solid #5f4495;
  position: absolute;
  box-shadow: 4px -2px #888888;
}

.tape {
  border: 2px solid grey;
  max-width: 15vh;
  min-width: 15vh;
  width: 15vh;
  height: 3vh;
  position: absolute;
  border-radius: 5px;
  background-color: #5f4495;
  left: 5vh;
  top: 0.8vh;
  box-shadow: 4px -1px #888888;
}

.antena {
  border: 2px solid grey;
  border-radius: 5px;
  height: 40vh;
  position: absolute;
  width: 0.2rem;
  background-color: lightgrey;
  top: -7em;
  left: 5em;
  z-index: -1;
}

.right {
  transform: rotate(45deg);
}

.left {
  transform: rotate(-45deg);
}

main {
  display: flex;
  justify-content: space-around;
  min-width: 70vh;
  max-width: 70vh;
  width: 70vh;
  margin: 10vh auto;
  border: 15px solid #5f4495;
  border-radius: 15px;
  padding: 20px;
  background-color: #543489;
  box-shadow: 10px -5px #888888;
  position: relative;
}

video {
  width: 60vh;
  align-items: start;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: -3px -3px #888888;
}

section.decoration {
  display: flex;
  width: 100%;
  padding: 1.4vh;
  justify-content: space-around;
}

section.audio {
  display: flex;
  width: 7vh;
  padding: 0.5vh;
  margin-left: 3vh;
  height: 15vh;
  margin-top: 2vh;
  background-color: lightgrey;
  background-image: radial-gradient(grey 15%, lightgrey 15%);
  background-size: 10px 10px;
  box-shadow: 2px -2px #888888;
}

div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightgrey;
  box-shadow: 3px -3px #888888;
}

footer {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1vh;
  bottom: 1.4vh;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer img {
  border-radius: 50%;
  padding: 0 0.6vh;
  cursor: pointer;
}

footer p {
  margin-right: 1.5vh;
}
