<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="../static/images/hello.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/styles.css"
      media="screen"
    />
    <title>Handflix</title>
  </head>
  <body>
    <header>
      <img src="../static/images/gti.jpg" alt="gti logo" />
      <img src="../static/images/handflix.png" alt="handflix logo" />
    </header>

<main>
   
 <section class="vr">
          <section class="antena right"></section>
      <section class="antena left"></section>
   <section class="tape">

   </section>
 </section>   
      <video class="video">
         <source  src="https://mybucketia.s3-us-west-2.amazonaws.com/losismpons.mp4"
          type="video/mp4"
        />
      </video>
     <section>

            <section class="decoration">
           
        <div></div>
      </section>
      <section class="decoration">
           
        <div></div>
      </section>
             <section class="audio">
           
     </section>
    </main>
    <aside class="debug">
       <img src="{{ url_for('video_feed') }}" /> 
      <p class="output">Gesture detected: STOP</p>
    </aside>

    <footer>
   <p>🎹 con 💪 por </p>
  
   <a href="https://github.com/DianaIT"></a><img src="https://avatars1.githubusercontent.com/u/18724171?s=460&u=0fc3251448d0621a1b7c2c38268db7f881bbd767&v=4" alt="dianait_" width="50"/> </a>
   <a href="https://github.com/oscarblanq"></a><img src="https://avatars3.githubusercontent.com/u/36045526?s=460&u=437ba6c0fc93dc180f33c2cd3bda56d2b845501c&v=4" alt="osacarblanq" width="50"/> </a>
   <a href="https://github.com/mawcoo"></a><img src="https://avatars2.githubusercontent.com/u/36045563?s=460&u=cb634a71b191f31e8f0fb0d1485f1c03a1b084af&v=4" alt="mawconol" width="50"/> </a>

    </footer>
    <script src="../static/js/handflix.js"></script>
  </body>
</html>
